# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# Environment variables / API keys
.env
*.env

# Streamlit secrets
.streamlit/secrets.toml

# C++ / CMake build files
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
*.obj
*.o
*.exe
*.dll
*.pdb

# VS Code
.vscode/

# PyCharm
.idea/

# Windows
Thumbs.db
desktop.ini

# Logs
*.log